body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 16px;
    border: 20px solid darkred;
    background-color: black;
    color: skyblue;
    width: 100vw;
    box-sizing: border-box;
    height: 200vh;
    overflow-x: hidden;
    position: relative;
}

.sq{
    width: 100px;
    height: 100px;
    border: 2px solid skyblue;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}

.rel1{
    background-color: darkcyan;
    position: relative;
    top: 70px;
    left: 50px;
    z-index: 10;
}

.rel2{
    background-color: darkgoldenrod;
    position: relative;
    bottom: 100px;
    right: -40px;
    z-index: 2;
}

.rel3{
    background-color: darkmagenta;
    position: relative;
    bottom: 200px;
    z-index: 30;
    left: calc(100vw - 140px);
}

.abs1{
    background-color: darkolivegreen;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.abs2{
    background-color: darkgoldenrod;
    position: absolute;
    top: -200px;
    left: 300px;
    z-index: 100;
}

.container {
    border: 2px dotted skyblue;
    position: relative;
}

.fix1{
    background-color: darkorchid;
    position: fixed;
    top: calc(100vh - 100px);
    left: calc(100vw - 120px);
    z-index: 100;
}