.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.sq-bin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
}

.sq {
  width: 20px;
  height: 20px;
}

.squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 10px;
  margin: 20px;
  .square {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    background-color: #282c34;
    border: 1px solid white;
    border-radius: 10px;
    &__animal {
      letter-spacing: 2px;
    }
  }
}