.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;

    input[type="text"],
    input[type="number"],
    select,
    textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid skyblue;
        border-radius: 4px;
        background-color: transparent;
        color: white;
        font-size: 20px;

        &:focus {
            outline: none;
            border: 2px solid crimson;
        }
    }

    input[type="number"] {
        width: 100px;
    }

    input[type="color"] {
        width: 100px;
        height: 100px;
    }

    select {
        background-color: #282c34;
        color: white;
        font-size: 20px;
    }

    .checkboxes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        margin: 20px;

        label {
            color: white;
            font-size: 30px;
            padding: 0 30px;
            user-select: none;
            cursor: pointer;
            position: relative;

            &:before {
                content: '\2610';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                color: white;
            }
        }

        input {
            display: none;

            &:checked+label {
                &:before {
                    content: '\2611';
                }
            }
        }
    }

    .radios {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px;
        margin: 20px;

        label {
            color: white;
            font-size: 30px;
            padding: 0 30px;
            user-select: none;
            cursor: pointer;
            position: relative;

            &:before {
                content: '\25CE';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                color: white;
            }
        }

        input {
            display: none;

            &:checked+label {
                &:before {
                    content: '\25C9';
                }
            }
        }
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        cursor: pointer;
        border: none;
        width: 100%;
        margin-top: 20px;

        &::-webkit-slider-runnable-track {
            background: skyblue;
            height: 3px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            /* Override default look */
            appearance: none;
            margin-top: -12px;
            /* Centers thumb on the track */
            background-color: skyblue;
            height: 28px;
            width: 20px;
        }

    }

}
.form-range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    border: none;
    width: 100%;
    margin-top: 20px;

    &::-webkit-slider-runnable-track {
        background: skyblue;
        height: 3px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        margin-top: -12px;
        /* Centers thumb on the track */
        background-color: skyblue;
        height: 28px;
        width: 20px;
    }

}