body {
    margin: 0;
    background-color: $white;
    font-family: $f1;

    #root {
        width: 100%;
        display: flex;
        justify-content: center;

        .app {
            width: 100%;
            max-width: 1200px;
        }
    }
}