.click-me {
    color: skyblue;
    cursor: pointer;
    border: 1px solid skyblue;
    display: inline-block;
    padding: 5px;
    user-select: none;
    margin: 30px;
}

.parent {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 30px;
    position: relative;
    display: inline-block;
}

.child {
    position: absolute;
    top: 0;
    left: 400px;
}